<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="end" (click)="dismiss()">
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-button>
    <ion-title>Fishing Event Filters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid [fixed]="true" style="max-height:150px">
  <ion-row>
    <ion-col>
      <ion-button shape="round">2022</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round">2023</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round">2024</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round">2025</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-content style="overflow:scrolly" style="margin-top: 0px;" style="max-height:230px">
  <ion-list>
    <ion-item color="light">
      <ion-label>Fishermen</ion-label>
    </ion-item>
    <ion-item *ngFor="let person of fishermen">
      <ion-checkbox justify="start" label-placement="end" (click)="getValue(person)">{{person}}</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>


<ion-content style="overflow:scroly" style="max-height:230px">
  <ion-list>
    <ion-item color="light">
      <ion-label>Species</ion-label>
    </ion-item>
    <ion-item *ngFor="let fish of species">
      <ion-checkbox justify="start" label-placement="end">{{fish}}</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>