<ion-toolbar color="primary">
  <ion-title>Fishing Catches</ion-title>
    <!--ion-button  slot="end" (click)="presentFilterModal()">
      <ion-icon  slot="icon-only" name="options"></ion-icon>
    </ion-button-->
</ion-toolbar>
<ion-toolbar color="light">
  <ion-searchbar ></ion-searchbar>
</ion-toolbar>

<ion-content fixed-slot-placement="before">
<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button id="open-modal" expand="block" >
  </ion-fab-button>
</ion-fab>

<ion-modal #log_modal style="--width: 100%" [isOpen]="true" trigger="open-modal"
 [initialBreakpoint]="0.15" [breakpoints]="[ 0.15, 0.5, 1.0,]" [backdropBreakpoint]="0.15">
    <ion-content >
      <ion-grid  >
        <div style="overflow-y: scroll">     
        <ion-row>
          <ion-col *ngFor="let item of this.filteredItems(); index as i"        
          [ngStyle]="{'background':  i === currentSelected ? 'Red' :  null}"  (click)="selectDate(i, item)" >
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{item?.CatchDate}}</ion-card-title>
              </ion-card-header>
            </ion-card>

          </ion-col>

        </ion-row>
      </div>
      </ion-grid>
      </ion-content>
 </ion-modal>

<div id="map"></div>
</ion-content>