#map {
    height: 100%;
  }


ion-modaly {
  --ion-background-color: #c59dee;
}

.gmap {
  height:90vh;
  padding:0
}

ion-menun {
  height:82vh;
  width:125;
  overflow-y:scroll;
  padding:0
}

ion-split-pane {
  --side-width:25px;
}
